* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(33, 33, 33);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header h1 {
  font-size: 3rem;
}

/* NAV SECTION */
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  top: 0;
  left: 0;
  right: 0;

  padding: 16px 32px;
}
.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  background-color: rgb(238, 201, 196);
  margin-bottom: 5px;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}
.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: rebeccapurple;
}
.hamburger.is-active span:nth-child(1) {
  transform: translate(0, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}
.hamburger.is-active:hover span {
  background-color: yellow;
}
.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: end;
  margin: 0 -16px;
}
.menu a {
  color: white;
  margin: 0 16px;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}
/* Landing-Section */
.landing-container {
  padding-left: 10%;
  width: 100%;
  padding-top: 2%;
}
.logo-container {
  width: 125px;
  padding-top: 2%;
  display: flex;
}
.landing-button {
  padding-top: 10px;
  padding-left: 10px;
}
.landing-container h1 {
  font-size: 4rem;
  color: white;
}
.logo-container img {
  width: 50%;
}
/* About Section */
.about-container {
  display: flex;
  flex-direction: column;
  padding-top: 400px;

  align-items: center;

  width: 100%;
}
.about-me {
  width: 100%;
  padding-top: 8%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container h2 {
  font-size: 1.5em;

  overflow-wrap: break-word;
}
.about-body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 950px;
}

.about-body img {
  width: 100%;
}
.technologies-container {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  width: 75%;
}
.technologies p {
  padding-top: 10%;
}
.tech-1 {
}
.tech-2 {
  margin-left: 50px;
}
.tech-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Project Section */
.project-container {
  display: flex;

  justify-content: center;
  align-items: center;
}
.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.projects {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  width: 950px;
  box-shadow: 1px 1px 10px black;
}
.image-container {
  width: 100%;
}
.image-container img {
  width: 100%;
}
.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
}
.desc {
  background-color: rebeccapurple;
  height: 100px;
  padding-left: 5%;
  font-size: 1.5em;
}
.project-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.project-icon img {
  width: 30px;
  height: 30px;
}
/* Media */

@media (min-width: 760px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
}
@media (max-width: 1050px) {
  .image-container {
    display: none;
  }
}
@media (max-width: 1050px) {
  .about-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .project {
    width: 100%;
  }
  .desc {
    width: 100%;
    height: 100%;
  }
  .about-me {
    padding-left: 60px;
  }
  .about-body img {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .project-desc {
    align-items: flex-start;
  }
  .tech-used {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .project-icon {
    justify-content: flex-start;
  }
}
